.App {
  text-align: center;
  background-color: #faf3e6;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.textField {
  padding: 0 10px;
  text-align: left;
  transition-property: box-shadow, background;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  background-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-color: #dae3f3;
  border-radius: 0px;
  color: #272c34;
  width: 100%;
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
  height: 30px;
  :hover {
    box-shadow: 0px 2px 4px rgb(39 44 52 / 12%);
  }
  :focus {
    transition-property: border-color, box-shadow, background;
    border-color: #39414d;
    outline: 0px;
    box-shadow: 0 0 0 3px #c5d2e7;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
