body {
  margin: 0;
  background-color: #fefaf5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family:
    'Boska',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 70px;
  justify-self: center;
}

button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: rgb(72, 76, 122);
  font-size: 14px;
  height: 34px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg, #fff, #f5f5fa);
  box-shadow:
    0 4px 11px 0 rgb(37 44 97 / 15%),
    0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all 0.2s ease-out;
  :hover {
    box-shadow:
      0 8px 22px 0 rgb(37 44 97 / 15%),
      0 4px 6px 0 rgb(93 100 148 / 20%);
  }
}

.filterButton {
  button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: rgb(72, 76, 122);
    font-size: 14px;
    height: 34px;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #fff, #f5f5fa);
    box-shadow:
      0 4px 11px 0 rgb(37 44 97 / 15%),
      0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all 0.2s ease-out;
  }
  button:hover {
    box-shadow:
      0 8px 22px 0 rgb(37 44 97 / 15%),
      0 4px 6px 0 rgb(93 100 148 / 20%);
  }
  button:active {
    background-color: black;
    background-image: none;
    color: white;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  width: 50%;
  justify-self: center;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(72, 76, 122);
  margin-bottom: 15px;
  padding: 10px;
}

ul {
  display: flex;
  padding: 0;
  justify-content: center;
  gap: 15px;
  list-style: none;
}

table {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-self: center;
  background-color: white;
  height: auto;
  width: 70%;
  padding: 30px;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}

thead {
  background-color: #62cfbf;
}

th {
  justify-self: flex-start;
  font-family: Arial, Helvetica, sans-serif;
}

tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding: 10px;
  margin: 3px;
  align-items: center;
  box-shadow:
    0 1.6px 3.6px 0 rgb(0 0 0 / 13%),
    0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
}

td {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(72, 76, 122);
}

.clearAll {
  display: flex;
  margin: 20px;
  justify-self: center;
}

@font-face {
  font-family: 'Boska';
  src: url('./fonts/Boska-Regular.woff2') format('woff2');
}
